@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --bg-color: #f4f7fe;
    --white: #ffffff;
    --black: #121212;
    --gray-4: #32393a;
    --gray-3: #747474;
    --gray-2: #a5a5a5;
    --gray-1: #fbfbfb;
    --blue-link: #5f75ee;
    --gray-light: #f0f0f0;

    --gray-lines: #dedede;

    --primary: #eb2227;
    --secondary: #5a5a5a;
    --brown-gold: #b58800;

    --info: #2f80ed;
    --success: #07dc61;
    --error: #f64040;
    --red-variant: #f11;
    --warning: #fbc216;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login Page */
.login-page {
    width: 100%;
    height: 100vh;
}

.login-page .container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px;

    background-image: url("../assets/img/Image Login.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.login-modal {
    display: inline-flex;
    min-width: 300px;
    width: 504px;
    height: 486px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    border-radius: 24px;
    background: #fff;
    box-shadow: 2px 10px 40px 0px rgba(167, 180, 184, 0.25);
}

.login-header {
    padding-bottom: 16px;
}

.login-header h2 {
    color: #000;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 48px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
}

.login-form label {
    color: #32393a;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}

.login-form input {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    align-items: flex-start;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    background: var(--gray-light, #f0f0f0);
    transition: 0.3s ease-out;

    color: var(--black);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.login-form input:hover {
    color: var(--gray-3);
    background-color: var(--gray-light);
    border: 1px solid var(--gray-lines);
}

.login-form input:focus {
    outline: 0;
    border-radius: 8px;
    border: 1px solid rgba(235, 34, 39, 0.25);
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(235, 34, 39, 0.25);
}

.input-email,
.input-pass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
}

.login-modal a {
    color: var(--blue-link);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
    margin: 0 auto;
    padding: 12px 0 18px 0;
}

.login-button {
    display: flex;
    width: 100%;
    align-items: end;
}

.login-button button.primary-button {
    display: flex;
    width: 100%;

    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.9px;
}

@media screen and (min-width: 340px) and (max-width: 767px) {
    .login-page .container {
        margin: 0;
        padding: 12px;
        background-image: none;
    }
    .login-modal {
        min-width: 300px;
        width: 100%;
        padding: 18px;
        height: fit-content;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 100vh;
    background: var(--white);
    overflow-x: hidden;
    transition: all 0.5s ease;
    box-shadow: 8px 2px 8px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .closebtn {
    position: absolute;
    text-decoration: none;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: var(--red-variant);
    transition: all 0.3s ease;
}

.closebtn:hover {
    scale: 1.15;
    color: var(--gray-4);
}

.openbtn {
    position: fixed;
    font-size: 28px;
    cursor: pointer;
    background-color: var(--red-variant);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 0 0 8px 0;
    box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.2);
}

.openbtn:hover {
    background-color: var(--primary);
}

@media (min-width: 300px) {
    .page-content {
        margin-top: 25px;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        display: block;
        width: 288px !important;
        box-shadow: none;
    }
    .page-content {
        margin-left: 290px;
    }
    .sidebar .closebtn {
        display: none;
    }
}

.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}

.sidebar .sidebar-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    padding: 10px 20px 30px 20px;
    transition: all 0.2s ease;
}

.sidebar-menu p {
    color: var(--gray-3);
    font-size: 12px;
    font-family: Inter;
    line-height: 15px;
    padding: 0 20px;
}

.menu-buttons {
    width: 100%;
}

.menu-buttons button {
    width: 100%;
    display: flex;
    padding: 15px 20px;
    gap: 16px;

    color: var(--gray-3);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    border: 0;
    border-radius: 8px;
    background: var(--white);
    transition: 0.2s ease;
}

.menu-buttons .active-menu {
    color: var(--white);
    background: var(--primary);
    transition: 0.2s ease;
}

.menu-buttons button:hover {
    color: var(--primary);
    background: var(--gray-1);
}

.bottom-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    width: 100%;
    border-radius: 8px;
    background: var(--gray-light);
}

.logout-button {
    display: flex;
    width: 100%;
    padding: 10px;
}

.logout-button button {
    width: 100%;
    display: flex;
    padding: 15px 10px;
    gap: 16px;

    color: var(--gray-3);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    border: 0;
    border-radius: 8px;
    background: var(--gray-light);
    transition: 0.2s ease;
}

.logout-button button:hover {
    /* color: var(--primary); */
    background: var(--gray-1);
}

.profile {
    width: 100%;
    background: var(--info);
    display: flex;
    padding: 11px 20px;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.profile-photo {
    display: flex;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
}

.profile-photo img {
    margin: auto;
}

.profile p {
    color: var(--white);
    font-size: 12px;
    margin: 0;
}

.profile .name {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

/* Admin Page Config*/
.page-section {
    position: relative;
    display: flex;
    background: var(--bg-color);
    width: 100%;
    min-height: 100%;
    height: fit-content;
}

.page-content {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 48px 24px;
    /* margin-left: 290px; */
}

.page-section .header {
    padding-bottom: 32px;
}

.page-content .header p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 3px;
}

.page-content .header h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
}

.content-wrapper {
    display: inline-flex;
    width: 100%;
    padding: 32px 32px 40px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(165, 165, 165, 0.15);
}

.item-filters {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    column-gap: 24px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .content-wrapper {
        padding: 24px 24px 32px 24px;
    }
    .item-filters {
        gap: 12px;
    }
}

.content-wrapper th {
    padding: 20px 0px 20px 20px;
    color: var(--gray-3);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.col-one {
    min-width: 320px;
    max-width: 492px;
    height: 104px;
}

.col-two {
    max-width: 164px;
}

.col-three {
    width: 236px;
}

.col-five {
    width: 110px;
    max-width: 156px;
    padding-left: 28px;
}

.action-buttons {
    display: flex;
    align-items: center;
}

.action-buttons button {
    display: flex;
    padding: 8px;
    color: var(--gray-4);
    background: #fff;
    border: 0;
    transition: 0.2s ease;
}

.action-buttons button:hover {
    color: var(--primary);
}

.content-wrapper table {
    border-collapse: collapse;
    min-width: 900px;
    width: 100%;
    max-width: 100%;
}

.content-wrapper tr {
    border-bottom: 1px solid #dedede;
}

.table-item {
    align-items: center;
}

.table-item td {
    padding: 20px 0px 20px 20px;

    color: var(--gray-4);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.table-item .first-column {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.first-column .first-p {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 0;
}

.first-column .second-p {
    color: var(--gray-2);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 8px;
}

.primary-button {
    display: flex;
    width: 200px;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;

    color: var(--white, #fbfbfb);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    border-radius: 8px;
    background: var(--primary);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    transition: 0.2s ease-in-out;
}

.primary-button:hover {
    background: var(--gray-4);
}

.input-warning {
    display: block;
    color: #eb2227;
    font-size: 14px;
    font-family: Inter;
    line-height: 12px;
    padding-top: 8px;
    margin-bottom: 0;
}

.add-form input.warning {
    border: 1px solid var(--gray-lines);
    background: #ffd7d7;
    color: #eb2227;
}

.fade .modal-dialog {
    animation-name: ShowFromTop;
    animation-duration: 1s;
}

@keyframes ShowFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.search {
    width: 100%;
    position: relative;
}

.search input {
    min-width: 240px;
    max-width: 100%;
    width: 100%;
    padding: 0px 20px 0px 48px;

    color: var(--gray-3);
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 56px;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--gray-light);
    transition: 0.3s ease;
}

.search input.search-2 {
    width: 50%;
}

.search input:hover {
    color: var(--gray-3);
    background-color: var(--gray-light);
    border: 1px solid var(--gray-lines);
}

.search input:focus {
    color: var(--black);
    background-color: #fff;
    border: 1px solid var(--primary, #eb2227);
    outline: none;
}

.search input:focus i {
    color: var(--primary) !important;
}

.search i {
    position: absolute;
    top: 15px;
    left: 12px;
}

@media screen and (min-width: 340px) and (max-width: 767px) {
    .page-section {
        position: relative;
        display: flex;
        background: var(--bg-color);
        width: 100%;
        min-height: 100%;
        height: fit-content;
    }

    .page-content {
        padding: 48px 16px;
    }

    .page-section .header {
        padding-bottom: 32px;
    }

    .page-content .header p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 3px;
    }

    .page-content .header h3 {
        font-size: 24px;
        line-height: normal;
    }

    .content-wrapper {
        padding: 24px;
    }

    .item-filters {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
    }

    .content-wrapper th {
        padding: 20px 0px 20px 20px;
        color: var(--gray-3);
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    .content-wrapper table {
        border-collapse: collapse;
        min-width: 900px;
        width: 100%;
        max-width: 100%;
    }

    .content-wrapper tr {
        border-bottom: 1px solid #dedede;
    }

    .table-item {
        align-items: center;
    }

    .table-item td {
        padding: 20px 0px 20px 20px;

        color: var(--gray-4);
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    .table-item .first-column {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    .first-column .first-p {
        color: var(--black);
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        margin-bottom: 0;
    }

    .first-column .second-p {
        color: var(--gray-2);
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 8px;
    }

    .primary-button {
        width: 130px;
        padding: 10px 15px;
        font-weight: 500;
    }

    .primary-button:hover {
        background: var(--gray-4);
    }

    .input-warning {
        display: block;
        color: #eb2227;
        font-size: 14px;
        font-family: Inter;
        line-height: 12px;
        padding-top: 8px;
        margin-bottom: 0;
    }

    .add-form input.warning {
        border: 1px solid var(--gray-lines);
        background: #ffd7d7;
        color: #eb2227;
    }

    .search input.search-2 {
        width: 100%;
    }
}

/* Select Menu */
.select-box {
    position: relative;
    display: block;
    min-width: 200px;
    width: 100%;
    max-width: 255px;
    font-size: 18px;
    color: #60666d;
}

.select-box__current {
    position: relative;
    min-width: 200px;
    width: 100%;
    max-width: 255px;
    cursor: pointer;
    outline: none;
}

.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 26px;
    /* opacity: 0.3; */
    transition: 0.3s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked + .select-box__input-text {
    display: block;
}

.select-box__input-text {
    display: none;
    min-width: 200px;
    width: 100%;
    max-width: 255px;
    flex-shrink: 0;
    margin: 0;
    padding: 0 20px;
    height: 56px;

    color: var(--gray-3);
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 56px;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--gray-light);
    transition: 0.3s ease;
}

.select-box__input-text:hover {
    color: var(--gray-3);
    background-color: var(--gray-light);
    border: 1px solid var(--gray-lines);
}

.select-box__value .select-box__input-text:focus {
    color: var(--black);
    background-color: #fff;
    border: 1px solid var(--primary);
}

.select-box__list {
    position: absolute;
    top: 105%;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    z-index: 3;

    width: 300px;
    border-radius: 8px;
    padding: 24px;
    border: 1px solid var(--gray-lines);
    background: #fff;
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);
}

.select-box__option {
    min-width: 255px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px 12px 0;

    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.select-box__option:hover,
.select-box__option:focus {
    color: var(--primary);
    background: #fff;
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .select-box {
        position: relative;
        display: block;
        min-width: 200px;
        width: 100%;
        max-width: 255px;
        font-size: 18px;
    }

    .select-box__current {
        min-width: 200px;
        width: 100%;
        max-width: 255px;
    }

    .select-box__input-text {
        display: none;
        min-width: 200px;
        width: 100%;
        max-width: 255px;
        margin: 0;
        padding: 0 20px;
        height: 56px;

        color: var(--gray-3);
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        line-height: 56px;
    }

    .select-box__list {
        width: fit-content;
        padding: 24px;
    }

    .select-box__option {
        min-width: 200px;
        width: 100%;
        max-width: 255px;
        padding: 8px 4px 12px 0;
        font-size: 14px;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .select-box {
        min-width: 45%;
        width: 100%;
        max-width: 50%;
        font-size: 14px;
    }

    .select-box__current {
        min-width: 50%;
        width: 100%;
        max-width: 255px;
    }

    .select-box__input-text {
        display: none;
        min-width: 50%;
        width: 100%;
        max-width: 255px;
        margin: 0;
        padding: 0 15px;
    }

    .select-box__list {
        width: 100%;
        padding: 24px;
    }

    .select-box__option {
        min-width: 45%;
        width: 100%;
        max-width: 200px;
        padding: 8px 4px 12px 0;
        font-size: 14px;
    }
}

/* Overview */
.chart-wrapper {
    width: 100%;
    height: 456px;
    flex-shrink: 0;
    margin-bottom: 32px;
    padding: 48px;

    border-radius: 24px;
    background: #464b4f;

    color: var(--white);
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.chart-box {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 294px;
    flex-shrink: 0;
    padding: 16px;

    border-radius: 24px;
    background: #3f8cff;
}

.chart-box .select-box__current {
    min-width: 200px;
}

.chart-box .select-box__input-text {
    width: 100%;
    min-width: 200px;
}

.chart-box .select-box__list {
    width: fit-content;
}

.chart-box .select-box__option {
    min-width: 150px;
}

canvas#myChart {
    width: 100%;
}

.heart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;

    border-radius: 8px;
    background: var(--gray-light, #f0f0f0);
}

.mini-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;

    border-radius: 16px;
    background: #e7d5d5;
}

.page-views p {
    color: var(--white, #fbfbfb);
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0;
}

.page-views h1 {
    color: var(--gray-light, #f0f0f0);
    font-size: 72px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

.career-item {
    width: 100%;
    padding: 20px 0 20px 20px;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.career-title {
    width: 320px;
}

.career-title h6 {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.career-title p {
    color: var(--gray-2);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
}

.career-icon {
    padding: 8px;
    margin-right: 24px;
}

.career-member {
    width: 164px;
}

.career-member p {
    color: var(--gray-4);
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0;
}

@media screen and (min-width: 340px) and (max-width: 767px) {
    .chart-wrapper {
        padding: 18px;
        height: fit-content;
    }

    .chart-box {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 294px;
        flex-shrink: 0;
        padding: 12px;
    }

    .chart-box {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 294px;
        flex-shrink: 0;
        padding: 16px;

        border-radius: 24px;
        background: #3f8cff;
    }

    .chart-box .select-box__current {
        min-width: 150px;
        width: 100%;
    }

    .chart-box .select-box__input-text {
        width: 100%;
        min-width: 100px;
    }

    .chart-box .select-box__list {
        width: fit-content;
    }

    .chart-box .select-box__option {
        min-width: 150px;
    }

    .career-item {
        width: 100%;
        gap: 12px;
    }

    .career-icon {
        padding: 8px;
        margin-right: 12px;
    }

    .career-member {
        width: 164px;
    }

    .career-member p {
        font-size: 14px;
        margin-left: 90px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .chart-wrapper {
        padding: 28px;
        height: fit-content;
    }
}

/* Member */
.header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 232px;
    flex-shrink: 0;
    padding: 37px 52px;
    margin-top: 32px;

    border-radius: 24px;
    background: var(
        --linear-black,
        linear-gradient(
            224deg,
            #737c84 0%,
            rgba(114, 123, 131, 1) 6.67%,
            rgba(111, 120, 128, 0.99) 13.33%,
            rgba(107, 115, 123, 0.99) 20%,
            rgba(101, 108, 116, 0.98) 26.67%,
            rgba(92, 100, 107, 0.96) 33.33%,
            rgba(83, 90, 96, 0.95) 40%,
            rgba(72, 78, 84, 0.93) 46.67%,
            rgba(61, 66, 71, 0.91) 53.33%,
            rgba(50, 55, 59, 0.89) 60%,
            rgba(41, 45, 48, 0.88) 66.67%,
            rgba(33, 36, 39, 0.86) 73.33%,
            rgba(26, 29, 32, 0.85) 80%,
            rgba(22, 25, 27, 0.85) 86.67%,
            rgba(19, 22, 24, 0.84) 93.33%,
            rgba(18, 21, 23, 0.84) 100%
        )
    );
}

.header-content h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
    margin: 0;
}

.header-content p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 12px;
}

.header-content button {
    width: 215px;
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    gap: 16px;

    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;

    border: 0;
    border-radius: 8px;
    background: var(--white);
    transition: 0.2s ease;
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);
}

.header-content button:hover {
    color: var(--primary);
}

.header-content img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.member-photo {
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.member-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.author-icon {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.author-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header .header-content {
        height: 200px;
        padding: 24px 28px;
        margin-top: 20px;
    }

    .header-content h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
    }

    .header-content p {
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 12px;
    }

    .header-content button {
        width: 150px;
        display: flex;
        justify-content: center;
        padding: 12px 18px;
        gap: 16px;
    }

    .header-content img {
        max-width: 85%;
        max-height: 100%;
    }
}

@media screen and (min-width: 340px) and (max-width: 767px) {
    .header .header-content {
        height: 200px;
        padding: 24px 28px;
        margin-top: 12px;
    }

    .header-content h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .header-content img {
        display: none;
    }
}

/* Modal */

.member-avatar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 8px;
    column-gap: 40px;
    color: var(--gray-3);
    font-size: 14px;
    font-family: Inter;
    line-height: 24px;
}

.avatar {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--gray-1);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.upload-avatar {
    content: "Upload Avatar";
    display: flex;
    width: 156px;
    height: 44px;
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    font-weight: 600;
}

.delete-avatar-btn {
    display: flex;
    width: 156px;
    height: 44px;
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: var(--gray-2);
    border: none;
    /* box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15); */

    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;

    transition: 0.3s ease;
}

.delete-avatar-btn:hover {
    background: var(--gray-3);
    color: white;
}

.date {
    width: 100%;
    position: relative;
}

.date input {
    width: 100%;
}

.date i {
    position: absolute;
    top: 15px;
    right: 12px;
}

form label {
    color: var(--gray-3);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

.add-member-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.add-member-form .dropdown .btn {
    width: 100%;
}

.modal-content .modal-header {
    border: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.modal-content .modal-header .modal-title {
    color: #000;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

#removeModal .modal-header .modal-title {
    color: var(--red-variant, #f11);
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

#sendPassModal .modal-header .modal-title {
    color: var(--warning, #fbc216);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.add-form input {
    width: 100%;
    min-width: 255px;
    padding: 0px 20px 0px 20px;

    color: var(--black, #121212);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--gray-light);
    transition: 0.3s ease;
}

.add-form input::placeholder {
    color: #cfcfcf;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.add-form input:hover {
    color: var(--gray-3);
    background-color: var(--gray-light);
    border: 1px solid var(--gray-lines);
}

.add-form input:focus {
    border-radius: 8px;
    border: 1px solid rgba(235, 34, 39, 0.25);
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(235, 34, 39, 0.25);
    outline: none;
}

input[type="file"] {
    width: 100%;
    padding: 0;

    color: var(--gray-3);
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 56px;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--gray-light);
    transition: 0.3s ease;
}

input[type="file"]::file-selector-button {
    margin-right: 16px;
    padding: 16px 22px;
    height: 100%;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    border-radius: 8px 0px 0px 8px;
    border: none;
    outline: none;
    background: var(--gray-4);

    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.042px;
}

input[type="file"]::file-selector-button:hover {
    background: var(--gray-3);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::placeholder {
    color: #cfcfcf;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.modal .modal-dialog {
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.modal-header .btn-closes {
    width: 24px;
    height: auto;
    background: transparent;
    border: none;
    font-size: 24px;
    color: var(--gray-4);
    transition: all 0.2s ease;
}

.modal-header .btn-closes:hover {
    color: var(--gray-3);
}

.modal-dialog .modal-content {
    width: 640px !important;
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 24px;
    background: #fff;
}

.modal-content .modal-header {
    padding: 0;
}

.modal-content .modal-body {
    padding: 30px 0 15px 0;
}

.modal-content .modal-footer {
    border: none;
    padding: 0;
    margin-top: 10px;
}

.modal-footer .cancel-btn {
    display: flex;
    width: 160px;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;

    border-radius: 8px;

    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.modal-footer .save-btn {
    display: flex;
    width: 150px;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: var(--success);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.7px;

    transition: 0.3s ease;
    text-transform: uppercase;
}

.modal-footer .save-btn:hover {
    background: var(--success);
    opacity: 0.8;
}

.modal-footer .save-btn:active {
    /* background: var(--gray-3); */
}

.modal-footer .delete-btn {
    display: flex;
    width: 150px;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: var(--red-variant);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.7px;

    transition: 0.3s ease;
    text-transform: uppercase;
}

.modal-footer .delete-btn:hover {
    background: var(--primary);
    color: var(--white);
}

.modal-footer .delete-btn:active {
    /* background: var(--gray-3); */
}

.modal-footer .send-btn {
    display: flex;
    width: 150px;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: var(--warning);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    transition: 0.3s ease;
}

.modal-footer .send-btn:hover {
    background: #f5a50b;
    color: var(--black);
}

.modal-footer .send-btn:active {
    /* background: var(--gray-3); */
}

#removeModal .modal-title {
    color: var(--primary);
}

#removeModal .modal-body {
    color: #747474;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#removeModal .modal-body b {
    color: var(--gray-4);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

/* Modal Select Menu */
.modal-body .select-box__current {
    min-width: 270px;
    width: 100%;
}

.modal-body .select-box__input-text {
    width: 100%;
    min-width: 274px;
}

.modal-body .select-box__list {
    width: fit-content;
    padding: 18px 24px 12px 24px;
}

.modal-body .select-box__option {
    min-width: 223px;
}

.modal-body .select-box__input:checked + #placeholder {
    color: #cfcfcf;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.modal-body .select-box__input:checked + .select-box__input-text {
    color: var(--black, #121212);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .modal .modal-dialog {
        top: 5%;
        left: 8%;
        transform: translate(50%, 50%);
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 340px) and (max-width: 767px) {
    .member-avatar {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start;
        align-items: center; */
        padding-bottom: 8px;
        column-gap: 40px;
        color: var(--gray-3);
        font-size: 14px;
        font-family: Inter;
        line-height: 24px;
    }

    .avatar {
        display: flex;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: var(--gray-1);
    }

    .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .avatar-control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding-top: 24px;
    }

    .upload-avatar {
        width: 120px;
        height: 44px;
        padding: 10px 30px;
    }

    .delete-avatar-btn {
        width: 120px;
        height: 44px;
        padding: 10px 30px;
    }

    form label {
        color: var(--gray-3);
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 8px;
    }

    .add-member-form {
        gap: 12px;
    }

    .add-member-form .dropdown .btn {
        width: 100%;
    }

    .modal-content .modal-header .modal-title {
        font-size: 20px;
    }

    #removeModal .modal-header .modal-title {
        font-size: 20px;
    }

    #sendPassModal .modal-header .modal-title {
        font-size: 20px;
    }

    .add-form input {
        width: 100%;
        min-width: 255px;
        padding: 0px 20px 0px 20px;
    }

    input[type="file"] {
        width: 100%;
        padding: 0;
    }

    .modal .modal-dialog {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        padding-bottom: 12px;
    }

    .modal-header .btn-closes {
        width: 20px;
        margin-right: 2px;
    }

    .modal-dialog .modal-content {
        width: 100% !important;
        padding: 18px;
        border-radius: 18px;
    }

    .modal-content .modal-header {
        padding: 0;
    }

    .modal-content .modal-body {
        padding: 15px 0 10px 0;
    }

    .modal-content .modal-footer {
        border: none;
        padding: 0;
        margin-top: 10px;
    }

    .modal-footer .cancel-btn {
        width: 120px;
        padding: 10px 15px;
    }

    .modal-footer .save-btn {
        width: 120px;
        padding: 10px 15px;
    }

    .modal-footer .save-btn:hover {
        background: var(--success);
        opacity: 0.8;
    }

    .modal-footer .delete-btn {
        width: 120px;
        padding: 10px 15px;
    }

    .modal-footer .delete-btn:hover {
        background: var(--primary);
        color: var(--white);
    }

    .modal-footer .send-btn {
        width: 120px;
        padding: 10px 15px;
    }

    /* Modal Select Menu */
    .modal-body .select-box {
        min-width: 100%;
        width: 100%;
    }
    .modal-body .select-box__current {
        min-width: 100%;
        width: 100%;
    }

    .modal-body .select-box__input-text {
        width: 100%;
        min-width: 100%;
    }

    .modal-body .select-box__list {
        width: fit-content;
        padding: 18px 24px 12px 24px;
    }

    .modal-body .select-box__option {
        min-width: 100%;
        width: 100%;
    }
}

/* curriculum */
.curriculum-thumbnail {
    width: 96px;
    height: 64px;
    padding: 15px 0;
    border-radius: 8px;
    background: #ff8585;

    color: var(--gray-4);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}

/* Showcase */
.item-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 80px;
    overflow: hidden;
    border-radius: 8px;
    background: lightgray 50%;
}

.item-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemBox {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
}

ul#itemList {
    list-style-type: none;
    padding: 12px 0 0 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

#itemList li {
    display: flex;
    padding: 0px 8px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: var(--gray-lines, #dedede);

    color: var(--gray-4, #32393a);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

#itemList li::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.53033 5.46967C6.23744 5.17678 5.76256 5.17678 5.46967 5.46967C5.17678 5.76256 5.17678 6.23744 5.46967 6.53033L10.9393 12L5.46967 17.4697C5.17678 17.7626 5.17678 18.2374 5.46967 18.5303C5.76256 18.8232 6.23744 18.8232 6.53033 18.5303L12 13.0607L17.4697 18.5303C17.7626 18.8232 18.2374 18.8232 18.5303 18.5303C18.8232 18.2374 18.8232 17.7626 18.5303 17.4697L13.0607 12L18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967C18.2374 5.17678 17.7626 5.17678 17.4697 5.46967L12 10.9393L6.53033 5.46967Z" fill="currentColor"/></svg>');
    cursor: pointer;
    display: flex;
}
