.dropdown .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 256px;
    padding: 0px 20px 0px 20px;

    color: var(--gray-3);
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 56px;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--gray-light);
    transition: 0.3s ease;
}

.dropdown .btn:hover {
    color: var(--gray-3);
    background-color: var(--gray-light);
    border: 1px solid var(--gray-lines);
}

.dropdown .btn:focus {
    color: var(--black);
    background-color: #fff;
    border: 1px solid var(--primary, #eb2227);
}

.dropdown .btn i {
    transition: all 0.3s ease;
}

.dropdown .btn:focus i {
    transform: rotate(180deg);
}

.dropdown .btn:active {
    color: var(--black);
    background-color: #fff;
    border: 1px solid var(--primary, #eb2227);
}

.dropdown .dropdown-menu {
    width: 300px;
    border-radius: 8px;
    padding: 24px;
    border: 1px solid var(--gray-lines);
    background: #fff;
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);
}

.dropdown .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px 12px 0;

    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.dropdown select option.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px 12px 0;

    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.dropdown .dropdown-item:hover {
    color: var(--primary);
    background: #fff;
}

.dropdown .dropdown-item:active {
    color: var(--primary);
    background: #fff;
}

.dropdown .form-select {
    /* Reset. */
    border: unset;

    /* Style */
    width: 100%;
    max-width: 400px;
    padding: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    /* Arrow */
    appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyNiAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMTkwNzYgOC44MjAzNEM1LjQ2Njg5IDguNTQ0MjEgNS44OTg5OCA4LjUxOTEgNi4yMDM0NyA4Ljc0NTAzTDYuMjkwNyA4LjgyMDM0TDEzIDE1LjUyOTNMMTkuNzA5MyA4LjgyMDM0QzE5Ljk4NTQgOC41NDQyMSAyMC40MTc1IDguNTE5MSAyMC43MjIgOC43NDUwM0wyMC44MDkyIDguODIwMzRDMjEuMDg1MyA5LjA5NjQ2IDIxLjExMDUgOS41Mjg1NiAyMC44ODQ1IDkuODMzMDVMMjAuODA5MiA5LjkyMDI4TDEzLjU1IDE3LjE3OTVDMTMuMjczOCAxNy40NTU3IDEyLjg0MTcgMTcuNDgwOCAxMi41MzczIDE3LjI1NDhMMTIuNDUgMTcuMTc5NUw1LjE5MDc2IDkuOTIwMjhDNC44ODcwMiA5LjYxNjU0IDQuODg3MDIgOS4xMjQwOCA1LjE5MDc2IDguODIwMzRaIiBmaWxsPSIjMzIzOTNBIi8+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.select {
    position: relative;
    cursor: pointer;

    width: 255px;
    margin: 0;
    padding: 0 20px;
    height: 56px;

    color: var(--gray-3);
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 56px;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--gray-light);
    transition: 0.3s ease;
}

.select::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.select:hover {
    color: var(--gray-3);
    background-color: var(--gray-light);
    border: 1px solid var(--gray-lines);
}

.select.active {
    background: #222222;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background: var(--white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: none;
}

.options.active {
    display: block;
}

.options .item {
    text-transform: capitalize;
    width: 100%;
    height: 30px;
    padding: 15px 15px;
    line-height: 30px;
    cursor: pointer;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px 12px 0;

    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.options .item.active {
    background: #292929;
}

.center {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdowns {
    width: 300px;
    height: fit-content;
    box-sizing: border-box;
}
.input-box {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline: 0.3mm solid rgba(0, 0, 0, 0.1);
    border-radius: 2mm;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.input-box::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    width: fit-content;
    height: fit-content;
}
.input-box.open::before {
    content: "";
}
.input-box:empty::after {
    content: "select title";
    color: gray;
}
.list input {
    display: none;
}
.list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    height: fit-content;
    background: white;
    margin-top: 10px;
    border-radius: 2mm;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-height: 0;
    transition: 0.3s ease-out;
}
.list label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 10px 15px;
    box-sizing: border-box;
}
.list label:hover {
    background: black;
}
input:checked + label {
    color: rgb(20, 117, 213);
    background: rgb(238, 245, 252);
}
input:checked + label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
}
.open {
    border: 1px solid red;
}
